$background-primary: grey;
$background-secondary: blue;
$text-light: rgb(226, 226, 226);
$text-primary: rgb(77, 77, 77);
$text-secondary: lightgray;
$border: 1px solid lightgrey;
$border-radius: 8px;
$speed: 500ms;
$nav-size: 60px;

$bg: #242526;
$bg-accent: #484a4d;
$text-color: #dadce1;
